<div class="space-y-8" [ngClass]="{'animate-pulse': isAnimate}">
  <div class="h-4 rounded-full bg-zinc-300"></div>
  <div class="space-y-4">
    <div class="h-2 rounded-full bg-zinc-300"></div>
    <div class="h-2 w-1/2 rounded-full bg-zinc-300"></div>
  </div>
  <div class="flex gap-4 items-center">
    <div class="h-8 w-8 rounded-full bg-zinc-300"></div>
    <div class="h-4 w-40 rounded-full bg-zinc-300"></div>
  </div>
  <div class="h-72 w-full rounded-lg bg-zinc-300"></div>
  <div class="space-y-4">
    <div class="h-2 w-3/4 rounded-full bg-zinc-300"></div>
    <div class="h-2 rounded-full bg-zinc-300"></div>
    <div class="h-2 w-1/2 rounded-full bg-zinc-300"></div>
    <div class="h-2 rounded-full bg-zinc-300"></div>
    <div class="h-2 rounded-full bg-zinc-300"></div>
    <div class="h-2 w-2/3 rounded-full bg-zinc-300"></div>
    <div class="h-2 rounded-full bg-zinc-300"></div>
    <div class="h-2 rounded-full bg-zinc-300"></div>
  </div>
</div>
