<div class="max-w-screen-md mx-auto p-8 space-y-4">
  @defer (when post) {
  <div>
    <app-post
      [postAndAuthor]="post"
      [isEditable]="false"
      [linkableAuthor]="true"
    >
      <div class="text-xs text-zinc-400 flex gap-4 justify-end">
        <div
          class="relative cursor-pointer"
          data-toggle="false"
          (clickInside)="showFullCreateTime()"
          (clickOutside)="hideFullCreateTime()"
        >
          <span> สร้างเมื่อ {{ post.post.createdTime | relativeTime }} </span>
          <div
            *ngIf="isShowingFullCreateTime"
            class="absolute bottom-[120%] left-0 px-2 py-1 bg-zinc-900/75 text-white shadow whitespace-nowrap rounded-lg"
          >
            {{ post.post.createdTime | thaiDate }}
          </div>
        </div>
        <div
          class="relative cursor-pointer"
          data-toggle="false"
          (clickInside)="showFullUpdateTime()"
          (clickOutside)="hideFullUpdateTime()"
        >
          <span>
            อัปเดตเมื่อ {{ post.post.lastUpdatedTime | relativeTime }}
          </span>
          <div
            *ngIf="isShowingFullUpdateTime"
            class="absolute bottom-[120%] left-0 px-2 py-1 bg-zinc-900/75 text-white shadow whitespace-nowrap rounded-lg"
          >
            {{ post.post.lastUpdatedTime | thaiDate }}
          </div>
        </div>
      </div>
      </app-post>
  </div>
  <div class="flex flex-wrap gap-2 items-center">
    <div *ngFor="let tag of synthTags">
      <app-tag [tag]="tag"></app-tag>
    </div>
  </div>
  <div class="text-xs flex gap-4">
    <div
      class="relative cursor-pointer"
      data-toggle="false"
      (clickInside)="showFullCreateTime()"
      (clickOutside)="hideFullCreateTime()"
    >
      <span> สร้างเมื่อ {{ post.post.createdTime | relativeTime }} </span>
      <div
        *ngIf="isShowingFullCreateTime"
        class="absolute top-[110%] left-0 px-2 py-1 bg-zinc-900/75 text-white shadow whitespace-nowrap rounded-lg"
      >
        {{ post.post.createdTime | thaiDate }}
      </div>
    </div>
    <div
      class="relative cursor-pointer"
      data-toggle="false"
      (clickInside)="showFullUpdateTime()"
      (clickOutside)="hideFullUpdateTime()"
    >
      <span> อัปเดตเมื่อ {{ post.post.lastUpdatedTime | relativeTime }} </span>
      <div
        *ngIf="isShowingFullUpdateTime"
        class="absolute top-[110%] left-0 px-2 py-1 bg-zinc-900/75 text-white shadow whitespace-nowrap rounded-lg"
      >
        {{ post.post.lastUpdatedTime | thaiDate }}
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between gap-4">
    <div class="flex flex-col justify-center items-center">
      <span class="font-semibold text-lg">{{ post.post.likeCount }}</span>
      <span class="text-sm">ชอบโพสต์นี้</span>
    </div>
    <div *ngIf="isLoggedIn" class="flex gap-4">
      <app-love-button
        [isLoved]="post.post.isLiked!"
        [ofPostId]="post.post.id"
        (loved)="onLove()"
        (unloved)="onUnlove()"
      ></app-love-button>
      <app-bookmark-button
        [isBookmarked]="post.post.isSaved!"
        [ofPostId]="post.post.id"
      ></app-bookmark-button>
    </div>
  </div>
  }@placeholder {
  <app-large-block-skeleton></app-large-block-skeleton>
  }@loading {
  <app-large-block-skeleton [isAnimate]="true"></app-large-block-skeleton>

  }

  <div>
    @defer (when isLoadComment) {
    <hr class="my-4" />
    <div>
      <app-comment-section [postId]="post.post.id"></app-comment-section>
    </div>
    }@placeholder {
    <div
      class="p-4 h-60 flex justify-center items-center rounded-xl bg-zinc-100"
    >
      <button
        (click)="loadCommentSection()"
        class="px-4 py-2 rounded-lg bg-zinc-600 hover:bg-zinc-800 text-white font-semibold"
      >
        อ่านและแสดงความคิดเห็น
      </button>
    </div>

    } @loading(minimum 500ms) {
    <div
      class="p-4 h-60 flex justify-center items-center rounded-xl bg-zinc-100 gap-4"
    >
      <span class="material-symbols-rounded animate-spin">
        progress_activity </span
      >กำลังโหลดความคิดเห็น...
    </div>
    }
  </div>
</div>
