<div
  class="fixed left-0 w-full transition-all"
  [ngClass]="[
    isScrollDown ? '-top-16' : 'top-0',
    isScrolledFromOrigin ? 'shadow-md' : ''
  ]"
>
  <div class="flex justify-between items-center p-4 bg-zinc-50">
    <app-brand variant="mobile"></app-brand>
    <ng-container *ngIf="isLoggedIn; else LoginButton">
      <app-mobile-account-button>
        <app-nav-link
          [link]="['/', 'my-posts']"
          [icon]="'article'"
          [name]="'โพสต์ของฉัน'"
          variant="mobile"
        ></app-nav-link>
        <app-nav-link
          [link]="['/', 'bookmark']"
          [icon]="'bookmark'"
          [name]="'บุ๊กมาร์กของฉัน'"
          variant="mobile"
        ></app-nav-link>
        <app-nav-link
          [link]="['/', 'profile', 'me']"
          [icon]="'person'"
          [name]="'โปรไฟล์ของฉัน'"
          variant="mobile"
        ></app-nav-link>
        <hr />
        <app-logout-button variant="mobile"></app-logout-button>
      </app-mobile-account-button>
    </ng-container>
  </div>
</div>
<div
  class="fixed left-0 w-full transition-all border-t shadow-md"
  [ngClass]="isScrollDown ? '-bottom-16' : 'bottom-0'"
>
  <div
    class="bg-zinc-50 grid divide-x"
    [ngClass]="isLoggedIn ? 'grid-cols-4' : 'grid-cols-3'"
  >
    <app-nav-link
      [link]="['/']"
      [icon]="'home'"
      [name]="'หน้าหลัก'"
      variant="mobile-bottom"
    ></app-nav-link>
    <app-nav-link
      *ngIf="isLoggedIn"
      [link]="['/', 'following']"
      [icon]="'newspaper'"
      [name]="'กำลังติดตาม'"
      variant="mobile-bottom"
    ></app-nav-link>
    <app-nav-link
      [link]="['/', 'search']"
      [icon]="'search'"
      [name]="'ค้นหา'"
      variant="mobile-bottom"
    ></app-nav-link>
    <app-nav-link
      [link]="['/', 'write']"
      [icon]="'edit'"
      [name]="'เขียนโพสต์'"
      variant="mobile-bottom"
    ></app-nav-link>
  </div>
</div>

<ng-template #LoginButton>
  <app-login-button variant="mobile"></app-login-button>
</ng-template>
