<div class="space-y-4" #postgroup>
  @defer (when ppas) {
  <div *ngFor="let post of ppas">
    <app-post-preview [postPreviewAndAuthor]="post"></app-post-preview>
  </div>
  <div
    *ngIf="!readyStatus && ppas.length"
    class="flex justify-center items-center gap-4 p-2"
  >
    <span class="material-symbols-rounded animate-spin">
      progress_activity </span
    >กำลังโหลดข้อมูลเพิ่มเติม...
  </div>
  }@placeholder {
  <div>
    <app-block-group-skeleton></app-block-group-skeleton>
  </div>
  }@loading {
  <div>
    <app-block-group-skeleton [isAnimate]="true"></app-block-group-skeleton>
  </div>
  }

  <div
    *ngIf="endLoad && ppas.length"
    class="flex justify-center items-center gap-2 my-8"
  >
    <div class="border border-zinc-500 grow"></div>
    <p class="font-semibold text-zinc-500">ไม่มีโพสต์ที่จะต้องโหลดอีกแล้ว</p>
    <div class="border border-zinc-500 grow"></div>
  </div>
</div>

<ng-template #loading>loading...</ng-template>
