<div
  class="fixed lg:sticky lg:left-0 lg:visible lg:opacity-100 flex shrink-0 top-0 h-screen bg-white flex-col justify-between gap-4 py-4 border-e transition-all duration-300 z-50"
  [ngClass]="[
    isExpanded ? 'w-72 px-4' : 'w-16 px-2',
    isNavIn ? 'left-0 visible opacity-100' : '-left-full invisible opacity-0'
  ]"
>
  <div class="flex flex-col gap-2">
    <div
      role="button"
      [routerLink]="['/']"
      class="relative flex gap-4 items-center mb-4 overflow-hidden whitespace-nowrap p-2"
    >
      <img src="assets/images/logo.svg" class="size-8" alt="logo" />
      <p
        class="text-2xl font-bold transition-all"
        [ngClass]="isExpanded ? 'visible opacity-100' : 'invisible opacity-0'"
      >
        เบต้าบล็อก
      </p>
    </div>
    <ng-container *ngFor="let item of menu">
      <NavButton
        *ngIf="item.requireLoggedIn ? isLoggedIn() : true"
        [to]="item.to"
        [icon]="item.icon"
        [label]="item.label"
        [exact]="item.exact"
        [isExpanded]="isExpanded"
        (click)="slideNavOut()"
      />
    </ng-container>
    <hr />
    <button
      *ngIf="!isLoggedIn(); else logoutRef"
      (click)="login()"
      class="flex gap-4 items-center w-full py-2 rounded-xl hover:bg-sky-50 hover:text-sky-950 overflow-hidden whitespace-nowrap transition-all duration-300"
      [ngClass]="[isExpanded ? 'px-4' : 'px-2']"
    >
      <span class="msr">login</span>เข้าสู่ระบบ
    </button>
  </div>
  <button
    (click)="toggleExpand()"
    class="hidden lg:flex p-2 bg-zinc-200 self-start rounded-xl items-center text-white transition-all"
    [ngClass]="[isExpanded ? 'ms-2' : '']"
  >
    <span class="msr transition-all" [ngClass]="{ 'rotate-180': isExpanded }"
      >arrow_forward_ios</span
    >
  </button>
  <div
    *ngIf="isLoggedIn()"
    class="py-2 transition-all duration-300"
    [ngClass]="[isExpanded ? 'px-4' : 'px-2']"
  >
    <UserHeader
      [avatarOnly]="!isExpanded"
      [linkable]="false"
      fontSize="medium"
      [userId]="userService.currentUser()?.userId!"
      [name]="userService.currentUser()?.displayName!"
    />
  </div>
</div>

<ng-template #logoutRef>
  <button
    (click)="logout()"
    class="flex gap-4 items-center w-full py-2 rounded-xl hover:bg-sky-50 hover:text-sky-950 overflow-hidden whitespace-nowrap transition-all duration-300"
    [ngClass]="[isExpanded ? 'px-4' : 'px-2']"
  >
    <span class="msr">logout</span>ออกจากระบบ
  </button>
</ng-template>

<div
  *ngIf="isNavIn"
  class="lg:hidden fixed top-0 left-0 w-full h-screen bg-black/50 backdrop-blur z-[48]"
></div>

<div
  class="lg:hidden fixed top-0 left-0 w-full h-16 p-2 backdrop-blur z-[49] flex justify-between items-center"
  [ngClass]="isNavIn ? 'bg-transparent' : 'bg-zinc-50/90'"
>
  <div
    role="button"
    [routerLink]="['/']"
    class="relative flex gap-4 items-center"
  >
    <img src="assets/images/logo.svg" class="size-8" alt="logo" />
    <p class="text-2xl font-bold">เบต้าบล็อก</p>
  </div>
  <button
    (click)="toggleNav()"
    class="flex justify-center items-center p-2 rounded-full bg-zinc-50"
  >
    <span class="msr">{{ isNavIn ? "close" : "menu" }}</span>
  </button>
</div>
