<div class="p-4 flex flex-col gap-4 md:min-h-screen relative">
  <h2 class="text-2xl font-bold p-4">โพสต์ของฉัน</h2>
  <div class="flex gap-4">
    <button
      (click)="switchFilterTo('published')"
      class="px-4 py-2 font-semibold rounded-full"
      [ngClass]="{ 'bg-zinc-200': postFilter === 'published' }"
    >
      เผยแพร่แล้ว
    </button>
    <button
      (click)="switchFilterTo('drafted')"
      class="px-4 py-2 font-semibold rounded-full"
      [ngClass]="{ 'bg-zinc-200': postFilter === 'drafted' }"
    >
      ฉบับร่าง
    </button>
  </div>
  <div *ngIf="postFilter === 'published'; else draftZone">
    <app-lazy-post-generator
      [postType]="'author'"
      [keyId]="currentUserId!"
    ></app-lazy-post-generator>
  </div>
</div>

<ng-template #draftZone>
  <div class="flex flex-col gap-4">
    <app-post-preview
      *ngFor="let post of posts"
      [postPreviewAndAuthor]="post"
    ></app-post-preview>
  </div>
</ng-template>
