<LandingPage *ngIf="!isLoggedIn()">
  <button
    (click)="scrollToMainView()"
    class="flex flex-col items-center gap-1 self-center p-2 hover:text-sky-500"
  >
    เลื่อนลงเพื่อดูบทความ<span class="msr animate-bounce"
      >arrow_downward_alt</span
    >
  </button>
</LandingPage>
<main #feed class="min-h-screen flex gap-4 max-w-screen-xl mx-auto">
  <div class="grow p-4">
    <router-outlet></router-outlet>
  </div>
  <div
    class="hidden xl:flex shrink-0 p-4 w-72 h-screen sticky top-0 flex-col gap-8"
  >
    <TopUseTag />
    <TopLikePost />
  </div>
</main>
