<h1 class="text-2xl font-bold mb-4">โพสต์ทั้งหมด</h1>
<div class="flex flex-col gap-8">
  <div class="p-4 rounded-xl h-48 bg-white shadow flex gap-4">
    <div class="grow flex flex-col gap-2">
      <div class="flex gap-4 items-center">
        <div class="size-8 rounded-full bg-slate-800"></div>
        <p class="text-sm">Saksit Sirisakda</p>
      </div>
      <div class="grow space-y-1">
        <h3 class="line-clamp-1 text-lg font-bold">This is a title.</h3>
        <p class="line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quidem
          in tempore porro delectus illo, similique ex repellendus mollitia
          repellat voluptatum doloremque commodi doloribus fuga alias labore
          assumenda hic quia!
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <div class="flex gap-2 items-center">
          <button
            class="text-xs rounded-full bg-orange-600 text-white px-2 py-1"
          >
            HTML
          </button>
          <button class="text-xs rounded-full bg-blue-600 text-white px-2 py-1">
            CSS
          </button>
        </div>
        <span class="text-sm">12-12-2001</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="size-28 bg-yellow-400 rounded-lg"></div>
      <div class="w-28 grow flex items-end justify-around">
        <button class="flex items-center rounded-full hover:text-red-500">
          <span class="msr small">favorite</span>
        </button>
        <button class="flex items-center rounded-full hover:text-yellow-500">
          <span class="msr small">bookmark</span>
        </button>
        <button class="flex items-center rounded-full">
          <span class="msr small">more_vert</span>
        </button>
      </div>
    </div>
  </div>
  <div class="p-4 rounded-xl h-48 bg-white shadow flex gap-4">
    <div class="grow flex flex-col gap-2">
      <div class="flex gap-4 items-center">
        <div class="size-8 rounded-full bg-slate-800"></div>
        <p class="text-sm">Saksit Sirisakda</p>
      </div>
      <div class="grow space-y-1">
        <h3 class="line-clamp-1 text-lg font-bold">This is a title.</h3>
        <p class="line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quidem
          in tempore porro delectus illo, similique ex repellendus mollitia
          repellat voluptatum doloremque commodi doloribus fuga alias labore
          assumenda hic quia!
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <div class="flex gap-2 items-center">
          <button
            class="text-xs rounded-full bg-orange-600 text-white px-2 py-1"
          >
            HTML
          </button>
          <button class="text-xs rounded-full bg-blue-600 text-white px-2 py-1">
            CSS
          </button>
        </div>
        <span class="text-sm">12-12-2001</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="size-28 bg-yellow-400 rounded-lg"></div>
      <div class="w-28 grow flex items-end justify-around">
        <button class="flex items-center rounded-full hover:text-red-500">
          <span class="msr small">favorite</span>
        </button>
        <button class="flex items-center rounded-full hover:text-yellow-500">
          <span class="msr small">bookmark</span>
        </button>
        <button class="flex items-center rounded-full">
          <span class="msr small">more_vert</span>
        </button>
      </div>
    </div>
  </div>
  <div class="p-4 rounded-xl h-48 bg-white shadow flex gap-4">
    <div class="grow flex flex-col gap-2">
      <div class="flex gap-4 items-center">
        <div class="size-8 rounded-full bg-slate-800"></div>
        <p class="text-sm">Saksit Sirisakda</p>
      </div>
      <div class="grow space-y-1">
        <h3 class="line-clamp-1 text-lg font-bold">This is a title.</h3>
        <p class="line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quidem
          in tempore porro delectus illo, similique ex repellendus mollitia
          repellat voluptatum doloremque commodi doloribus fuga alias labore
          assumenda hic quia!
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <div class="flex gap-2 items-center">
          <button
            class="text-xs rounded-full bg-orange-600 text-white px-2 py-1"
          >
            HTML
          </button>
          <button class="text-xs rounded-full bg-blue-600 text-white px-2 py-1">
            CSS
          </button>
        </div>
        <span class="text-sm">12-12-2001</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="size-28 bg-yellow-400 rounded-lg"></div>
      <div class="w-28 grow flex items-end justify-around">
        <button class="flex items-center rounded-full hover:text-red-500">
          <span class="msr small">favorite</span>
        </button>
        <button class="flex items-center rounded-full hover:text-yellow-500">
          <span class="msr small">bookmark</span>
        </button>
        <button class="flex items-center rounded-full">
          <span class="msr small">more_vert</span>
        </button>
      </div>
    </div>
  </div>
  <div class="p-4 rounded-xl h-48 bg-white shadow flex gap-4">
    <div class="grow flex flex-col gap-2">
      <div class="flex gap-4 items-center">
        <div class="size-8 rounded-full bg-slate-800"></div>
        <p class="text-sm">Saksit Sirisakda</p>
      </div>
      <div class="grow space-y-1">
        <h3 class="line-clamp-1 text-lg font-bold">This is a title.</h3>
        <p class="line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quidem
          in tempore porro delectus illo, similique ex repellendus mollitia
          repellat voluptatum doloremque commodi doloribus fuga alias labore
          assumenda hic quia!
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <div class="flex gap-2 items-center">
          <button
            class="text-xs rounded-full bg-orange-600 text-white px-2 py-1"
          >
            HTML
          </button>
          <button class="text-xs rounded-full bg-blue-600 text-white px-2 py-1">
            CSS
          </button>
        </div>
        <span class="text-sm">12-12-2001</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="size-28 bg-yellow-400 rounded-lg"></div>
      <div class="w-28 grow flex items-end justify-around">
        <button class="flex items-center rounded-full hover:text-red-500">
          <span class="msr small">favorite</span>
        </button>
        <button class="flex items-center rounded-full hover:text-yellow-500">
          <span class="msr small">bookmark</span>
        </button>
        <button class="flex items-center rounded-full">
          <span class="msr small">more_vert</span>
        </button>
      </div>
    </div>
  </div>
  <div class="p-4 rounded-xl h-48 bg-white shadow flex gap-4">
    <div class="grow flex flex-col gap-2">
      <div class="flex gap-4 items-center">
        <div class="size-8 rounded-full bg-slate-800"></div>
        <p class="text-sm">Saksit Sirisakda</p>
      </div>
      <div class="grow space-y-1">
        <h3 class="line-clamp-1 text-lg font-bold">This is a title.</h3>
        <p class="line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quidem
          in tempore porro delectus illo, similique ex repellendus mollitia
          repellat voluptatum doloremque commodi doloribus fuga alias labore
          assumenda hic quia!
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <div class="flex gap-2 items-center">
          <button
            class="text-xs rounded-full bg-orange-600 text-white px-2 py-1"
          >
            HTML
          </button>
          <button class="text-xs rounded-full bg-blue-600 text-white px-2 py-1">
            CSS
          </button>
        </div>
        <span class="text-sm">12-12-2001</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="size-28 bg-yellow-400 rounded-lg"></div>
      <div class="w-28 grow flex items-end justify-around">
        <button class="flex items-center rounded-full hover:text-red-500">
          <span class="msr small">favorite</span>
        </button>
        <button class="flex items-center rounded-full hover:text-yellow-500">
          <span class="msr small">bookmark</span>
        </button>
        <button class="flex items-center rounded-full">
          <span class="msr small">more_vert</span>
        </button>
      </div>
    </div>
  </div>
</div>
